<a href="https://colab.research.google.com/github/achsahb/achsahb/blob/main/diabetes_prediction_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://drive.google.com/drive/folders/10d3DqhuDjh77LKnWZGcD9RLRI_B8xGZx // the drive link

# Install Dependencies

In [33]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

# Environment Path

In [34]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

# Run a SparkSession

In [35]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

# Clone Diabetes Dataset

directly get the clone from the github.

In [36]:
! git clone https://github.com/education454/diabetes_dataset

fatal: destination path 'diabetes_dataset' already exists and is not an empty directory.

In [37]:
! ls diabetes_dataset

diabetes.csv  new_test.csv

In [38]:
df = spark.read.csv('/content/diabetes_dataset/diabetes.csv',header=True,inferSchema=True)

In [39]:
df.show()

+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|          2|    138|           62|           35|      0|33.6|                   0.127| 47|      1|
|          0|     84|           82|           31|    125|38.2|                   0.233| 23|      0|
|          0|    145|            0|            0|      0|44.2|                    0.63| 31|      1|
|          0|    135|           68|           42|    250|42.3|                   0.365| 24|      1|
|          1|    139|           62|           41|    480|40.7|                   0.536| 21|      0|
|          0|    173|           78|           32|    265|46.5|                   1.159| 58|      0|
|          4|     99|           72|           17|      0|25.6|                   0.294| 28|      0|
|          8|    194|           80|            0|      0|26.1|                   0.551| 67|      0|
|          2|     83|           65|           28|     66|36.8|                   0.629| 24|      0|
|          2|     89|           90|           30|      0|33.5|                   0.292| 42|      0|
|          4|     99|           68|           38|      0|32.8|                   0.145| 33|      0|
|          4|    125|           70|           18|    122|28.9|                   1.144| 45|      1|
|          3|     80|            0|            0|      0| 0.0|                   0.174| 22|      0|
|          6|    166|           74|            0|      0|26.6|                   0.304| 66|      0|
|          5|    110|           68|            0|      0|26.0|                   0.292| 30|      0|
|          2|     81|           72|           15|     76|30.1|                   0.547| 25|      0|
|          7|    195|           70|           33|    145|25.1|                   0.163| 55|      1|
|          6|    154|           74|           32|    193|29.3|                   0.839| 39|      0|
|          2|    117|           90|           19|     71|25.2|                   0.313| 21|      0|
|          3|     84|           72|           32|      0|37.2|                   0.267| 28|      0|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
only showing top 20 rows

 infer schema: 
Automatically detects the file metadata schema in a set of staged data files that contain semi-structured data and retrieves the column definitions.

In [40]:
df.printSchema()

root
 |-- Pregnancies: integer (nullable = true)
 |-- Glucose: integer (nullable = true)
 |-- BloodPressure: integer (nullable = true)
 |-- SkinThickness: integer (nullable = true)
 |-- Insulin: integer (nullable = true)
 |-- BMI: double (nullable = true)
 |-- DiabetesPedigreeFunction: double (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Outcome: integer (nullable = true)

1- with diabetes; 2- without diabetes

In [41]:
df.groupby('Outcome').count().show()

+-------+-----+
|Outcome|count|
+-------+-----+
|      1|  684|
|      0| 1316|
+-------+-----+

In [42]:
df.describe().show()

+-------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------------+------------------+------------------+
|summary|      Pregnancies|           Glucose|     BloodPressure|    SkinThickness|          Insulin|               BMI|DiabetesPedigreeFunction|               Age|           Outcome|
+-------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------------+------------------+------------------+
|  count|             2000|              2000|              2000|             2000|             2000|              2000|                    2000|              2000|              2000|
|   mean|           3.7035|          121.1825|           69.1455|           20.935|           80.254|32.192999999999984|     0.47092999999999974|           33.0905|             0.342|
| stddev|3.306063032730656|32.068635649902916|19.188314815604098|16.10324290992682|111.1805335457595| 8.149900701279762|      0.3235525586811429|11.786423106049496|0.4744982342297426|
|    min|                0|                 0|                 0|                0|                0|               0.0|                   0.078|                21|                 0|
|    max|               17|               199|               122|              110|              744|              80.6|                    2.42|                81|                 1|
+-------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------------+------------------+------------------+

describe is used in pandas as well as spark.describe()  returns description of the data in the DataFrame

# Cleaning Data

In [43]:
for col in df.columns:
  print(col+":",df[df[col].isNull()].count())

Pregnancies: 0
Glucose: 0
BloodPressure: 0
SkinThickness: 0
Insulin: 0
BMI: 0
DiabetesPedigreeFunction: 0
Age: 0
Outcome: 0

for each column, check for the zeros and count them to find the missing or NULL values.

In [44]:
def count_zeros():
  columns_list =['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
  for i in columns_list:
    print(i+":",df[df[i]==0].count())

In [45]:
count_zeros()

Glucose: 13
BloodPressure: 90
SkinThickness: 573
Insulin: 956
BMI: 28

find the mean of all the columns to replace the values which are missing or if it is zero else leave the data as it is.

In [46]:
from pyspark.sql.functions import *
for i in df.columns[1:6]:
  data = df.agg({i:'mean'}).first()[0]
  print("Mean value for {} is {}".format(i,int(data)))
  df = df.withColumn(i,when(df[i]==0,int(data)).otherwise(df[i]))

Mean value for Glucose is 121
Mean value for BloodPressure is 69
Mean value for SkinThickness is 20
Mean value for Insulin is 80
Mean value for BMI is 32

In [47]:
df.show()

+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|          2|    138|           62|           35|     80|33.6|                   0.127| 47|      1|
|          0|     84|           82|           31|    125|38.2|                   0.233| 23|      0|
|          0|    145|           69|           20|     80|44.2|                    0.63| 31|      1|
|          0|    135|           68|           42|    250|42.3|                   0.365| 24|      1|
|          1|    139|           62|           41|    480|40.7|                   0.536| 21|      0|
|          0|    173|           78|           32|    265|46.5|                   1.159| 58|      0|
|          4|     99|           72|           17|     80|25.6|                   0.294| 28|      0|
|          8|    194|           80|           20|     80|26.1|                   0.551| 67|      0|
|          2|     83|           65|           28|     66|36.8|                   0.629| 24|      0|
|          2|     89|           90|           30|     80|33.5|                   0.292| 42|      0|
|          4|     99|           68|           38|     80|32.8|                   0.145| 33|      0|
|          4|    125|           70|           18|    122|28.9|                   1.144| 45|      1|
|          3|     80|           69|           20|     80|32.0|                   0.174| 22|      0|
|          6|    166|           74|           20|     80|26.6|                   0.304| 66|      0|
|          5|    110|           68|           20|     80|26.0|                   0.292| 30|      0|
|          2|     81|           72|           15|     76|30.1|                   0.547| 25|      0|
|          7|    195|           70|           33|    145|25.1|                   0.163| 55|      1|
|          6|    154|           74|           32|    193|29.3|                   0.839| 39|      0|
|          2|    117|           90|           19|     71|25.2|                   0.313| 21|      0|
|          3|     84|           72|           32|     80|37.2|                   0.267| 28|      0|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
only showing top 20 rows

# Correlation

finding the relation between the outcome to outcome relation. 


> Indented block helps to identify the columns which contribute to the outcomes

In [48]:
for col in df.columns:
  print("correlation to outcome for {} is {}".format(col,df.stat.corr('Outcome',col)))

correlation to outcome for Pregnancies is 0.22443699263363961
correlation to outcome for Glucose is 0.48796646527321064
correlation to outcome for BloodPressure is 0.17171333286446713
correlation to outcome for SkinThickness is 0.1659010662889893
correlation to outcome for Insulin is 0.1711763270226193
correlation to outcome for BMI is 0.2827927569760082
correlation to outcome for DiabetesPedigreeFunction is 0.1554590791569403
correlation to outcome for Age is 0.23650924717620253
correlation to outcome for Outcome is 1.0

# Feature Selection

In [49]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols=['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age'],outputCol='features')
output_data = assembler.transform(df)

In [50]:
output_data.printSchema()

root
 |-- Pregnancies: integer (nullable = true)
 |-- Glucose: integer (nullable = true)
 |-- BloodPressure: integer (nullable = true)
 |-- SkinThickness: integer (nullable = true)
 |-- Insulin: integer (nullable = true)
 |-- BMI: double (nullable = true)
 |-- DiabetesPedigreeFunction: double (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Outcome: integer (nullable = true)
 |-- features: vector (nullable = true)

In [51]:
output_data.show()

+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+--------------------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|            features|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+--------------------+
|          2|    138|           62|           35|     80|33.6|                   0.127| 47|      1|[2.0,138.0,62.0,3...|
|          0|     84|           82|           31|    125|38.2|                   0.233| 23|      0|[0.0,84.0,82.0,31...|
|          0|    145|           69|           20|     80|44.2|                    0.63| 31|      1|[0.0,145.0,69.0,2...|
|          0|    135|           68|           42|    250|42.3|                   0.365| 24|      1|[0.0,135.0,68.0,4...|
|          1|    139|           62|           41|    480|40.7|                   0.536| 21|      0|[1.0,139.0,62.0,4...|
|          0|    173|           78|           32|    265|46.5|                   1.159| 58|      0|[0.0,173.0,78.0,3...|
|          4|     99|           72|           17|     80|25.6|                   0.294| 28|      0|[4.0,99.0,72.0,17...|
|          8|    194|           80|           20|     80|26.1|                   0.551| 67|      0|[8.0,194.0,80.0,2...|
|          2|     83|           65|           28|     66|36.8|                   0.629| 24|      0|[2.0,83.0,65.0,28...|
|          2|     89|           90|           30|     80|33.5|                   0.292| 42|      0|[2.0,89.0,90.0,30...|
|          4|     99|           68|           38|     80|32.8|                   0.145| 33|      0|[4.0,99.0,68.0,38...|
|          4|    125|           70|           18|    122|28.9|                   1.144| 45|      1|[4.0,125.0,70.0,1...|
|          3|     80|           69|           20|     80|32.0|                   0.174| 22|      0|[3.0,80.0,69.0,20...|
|          6|    166|           74|           20|     80|26.6|                   0.304| 66|      0|[6.0,166.0,74.0,2...|
|          5|    110|           68|           20|     80|26.0|                   0.292| 30|      0|[5.0,110.0,68.0,2...|
|          2|     81|           72|           15|     76|30.1|                   0.547| 25|      0|[2.0,81.0,72.0,15...|
|          7|    195|           70|           33|    145|25.1|                   0.163| 55|      1|[7.0,195.0,70.0,3...|
|          6|    154|           74|           32|    193|29.3|                   0.839| 39|      0|[6.0,154.0,74.0,3...|
|          2|    117|           90|           19|     71|25.2|                   0.313| 21|      0|[2.0,117.0,90.0,1...|
|          3|     84|           72|           32|     80|37.2|                   0.267| 28|      0|[3.0,84.0,72.0,32...|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+--------------------+
only showing top 20 rows

# Build & Train Model

In [52]:
from pyspark.ml.classification import LogisticRegression
final_data = output_data.select('features','Outcome')

In [53]:
final_data.printSchema()

root
 |-- features: vector (nullable = true)
 |-- Outcome: integer (nullable = true)

In [54]:
train , test = final_data.randomSplit([0.7,0.3])
models = LogisticRegression(labelCol='Outcome')
model = models.fit(train)

In [55]:
summary = model.summary

In [56]:
summary.predictions.describe().show()

+-------+-------------------+-------------------+
|summary|            Outcome|         prediction|
+-------+-------------------+-------------------+
|  count|               1391|               1391|
|   mean| 0.3299784327821711|0.24658519051042416|
| stddev|0.47037402793226746|0.43117814146800365|
|    min|                0.0|                0.0|
|    max|                1.0|                1.0|
+-------+-------------------+-------------------+

# Evaluation & Test Model

In [57]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
predictions = model.evaluate(test)

In [58]:
predictions.predictions.show(20)

+--------------------+-------+--------------------+--------------------+----------+
|            features|Outcome|       rawPrediction|         probability|prediction|
+--------------------+-------+--------------------+--------------------+----------+
|[0.0,74.0,52.0,10...|      0|[3.50736560286031...|[0.97089661792121...|       0.0|
|[0.0,78.0,88.0,29...|      0|[2.66037126519271...|[0.93464734773706...|       0.0|
|[0.0,78.0,88.0,29...|      0|[2.66037126519271...|[0.93464734773706...|       0.0|
|[0.0,84.0,82.0,31...|      0|[2.55391287372740...|[0.92783594558369...|       0.0|
|[0.0,86.0,68.0,32...|      0|[2.62092288105155...|[0.93219606183520...|       0.0|
|[0.0,93.0,60.0,20...|      0|[2.32466516680495...|[0.91089930034999...|       0.0|
|[0.0,93.0,60.0,20...|      0|[2.32466516680495...|[0.91089930034999...|       0.0|
|[0.0,93.0,60.0,25...|      0|[2.69312846727032...|[0.93661995079867...|       0.0|
|[0.0,93.0,60.0,25...|      0|[2.69312846727032...|[0.93661995079867...|       0.0|
|[0.0,94.0,69.0,20...|      0|[2.54025691954523...|[0.92691623286673...|       0.0|
|[0.0,94.0,70.0,27...|      0|[1.70685806030424...|[0.84642831598561...|       0.0|
|[0.0,95.0,64.0,39...|      0|[1.62987543334209...|[0.83615257367882...|       0.0|
|[0.0,95.0,64.0,39...|      0|[1.62987543334209...|[0.83615257367882...|       0.0|
|[0.0,95.0,80.0,45...|      0|[2.24897002756977...|[0.90456165476063...|       0.0|
|[0.0,95.0,80.0,45...|      0|[2.24897002756977...|[0.90456165476063...|       0.0|
|[0.0,95.0,85.0,25...|      1|[2.10212613521775...|[0.89110965620540...|       0.0|
|[0.0,98.0,82.0,15...|      0|[2.87902762215992...|[0.94679990635587...|       0.0|
|[0.0,98.0,82.0,15...|      0|[2.87902762215992...|[0.94679990635587...|       0.0|
|[0.0,101.0,64.0,1...|      0|[3.15299368690325...|[0.95902651947926...|       0.0|
|[0.0,101.0,64.0,1...|      0|[3.15299368690325...|[0.95902651947926...|       0.0|
+--------------------+-------+--------------------+--------------------+----------+
only showing top 20 rows

BinaryClassificationEvaluator > 0.8 then we assume it to be 1.

In [59]:
evaluator = BinaryClassificationEvaluator(rawPredictionCol='rawPrediction', labelCol='Outcome')
evaluator.evaluate(model.transform(test))

0.8501504629629626

In [60]:
!ls

diabetes_dataset	   spark-3.1.1-bin-hadoop3.2.tgz
model			   spark-3.1.1-bin-hadoop3.2.tgz.1
model2			   spark-3.1.1-bin-hadoop3.2.tgz.2
sample_data		   spark-3.1.1-bin-hadoop3.2.tgz.3
spark-3.1.1-bin-hadoop3.2

In [62]:
model.save("model1")

In [63]:
from pyspark.ml.classification import LogisticRegressionModel
model = LogisticRegressionModel.load('model')

In [64]:
!ls

diabetes_dataset  spark-3.1.1-bin-hadoop3.2
model		  spark-3.1.1-bin-hadoop3.2.tgz
model1		  spark-3.1.1-bin-hadoop3.2.tgz.1
model2		  spark-3.1.1-bin-hadoop3.2.tgz.2
sample_data	  spark-3.1.1-bin-hadoop3.2.tgz.3